<div id="front-well" class="well">



<h1>Recipe</h1>
<hr>
<a href="/recipes" class= "btn btn-info">Recipes</a>
<br>
<br>
<a href="/ingredients" class= "btn btn-primary">Ingredients</a>
<br>
<br>
<a href="/categories" class= "btn btn-warning">Categories</a>

</div>
