<h1><%= @ingredient.name() %></h1>
<hr>
<% @ingredient.recipes.each() do |recipe| %>
    <li><%= recipe.name() %></li>
<% end %>

<br>
<form action="/ingredient/<%=@ingredient.id %>" method="post">
    <div class="form-group">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger" name="delete" id="delete">Delete</button>
    </div>
</form>

<form>
  <br>
    <div class="form-group">
      <a href="/" class="btn btn-info" role="button">Home</a>
    </div>
</form>
